### Listas

In [1]:
produtos = ["iphone", "ipad", "airpod"]
produtos_novos = ["apple watch", "macbook"]

In [2]:
produtos.extend(produtos_novos)
print(produtos)

['iphone', 'ipad', 'airpod', 'apple watch', 'macbook']

### Dicion√°rios

In [3]:
produtos_dic = {"iphone": 7000, "ipad": 11000, "airpod": 2500}
novos_produtos_dic = {"apple watch": 3500, "macbook": 15000}

In [4]:
produtos_dic = produtos_dic | novos_produtos_dic
print(produtos_dic)

{'iphone': 7000, 'ipad': 11000, 'airpod': 2500, 'apple watch': 3500, 'macbook': 15000}

### Tabelas

In [5]:
import pandas as pd

produtos_df = pd.read_csv("produtos.csv")
novos_produtos_df = pd.read_csv("novosprodutos.csv")
display(produtos_df)
display(novos_produtos_df)

  produto  preco
0  iphone   7000
1    ipad  11000
2  airpod   2500

       produto  preco
0  apple watch   3500
1      macbook  15000

In [6]:
produtos_df = pd.concat([produtos_df, novos_produtos_df], ignore_index=True)
display(produtos_df)

       produto  preco
0       iphone   7000
1         ipad  11000
2       airpod   2500
3  apple watch   3500
4      macbook  15000